*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 .green-text {
color: chartreuse;
font-family: 'Chilanka', cursive;
}
.purple-text {
color: purple;
font-size: 100px;
}
.red-text {
color: red;
font-size: 100px; 
}
main{
flex-wrap: wrap;
display: flex;
background-color:#e643e1;
margin: 20px auto;
max-width: 1000px;
width: auto;
box-shadow: 20px 13px 191px 0px rgba(217,28,217,1);
}
body{
font-family: 'Chilanka', cursive;
background-color: #754875;
}
.item{
width: 100%;
height: 100%;
background-color: bisque;
background-position: center;
background-size: cover;
}
.title{
text-align: center;
width: 100%;
color: darkturquoise;
font-size: 100px;
font-family: 'Pacifico', cursive;
}
.text{
font-size: 100px;
color: gold;
font-family: 'Lobster', cursive;
}
.img-link{
max-height: 265px;
max-width: 490px;
display: block;
height: calc(95vw / 2 / 16* 9);
margin: 5px;
width: calc(95vw / 2 - 10px);
opacity: 0.6;
transition: 0.5s ease-in-out, transform 0.3s ease-in;
box-shadow: 0.3s ease-in-out;
rotate: 0.5 ease-in-out;
filter: brightness(0.5);
}


@media all and (max-width: 768px)
{
.img-link{
max-width: initial;
max-height: initial; 
width: 100%;
height: calc(95vw / 2 / 16* 9);
margin: 5px 0;
opacity: 1;
filter: brightness(1);
   }
.title{
font-size: 60px;
}
}
@media all and (min-width: 1024px)
{
.img-link:hover{
    opacity: 1;
    transform: scale(1.3) rotate(5deg);
    z-index: 10;
    box-shadow: 10px 33px 16px 3px rgba(148,24,148,1);
    filter: brightness(1);
    filter: blur(5px); 
}
 }